<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.multi.demo.dao.account.AccountMoneyDetailsMapper">
<select id="incomeCollect" resultType="com.example.multi.demo.domain.vo.ZyIncomeCollectVO">
    select sum(amount) amount , subsidiary taxSource
    from customer_money_details
    where trans_type = 3 and gmt_modified >= #{beginTime}
    group by subsidiary
</select>
</mapper>
